<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<section>
  <div class="main-container">
    <img class="main-image"  src="/assets/images/main-picture.jpg" alt="pictures of <%= locals.name || "me" %>" />
    <div class="big-heading-container">
    <h1 class="primary-text"><%= locals.firstHeading %></h1>
    <p><%= locals.name %></p>
    </div>  
  </div>
</section>
<section>
  <div class="intro">
    <h2><%= locals.sectionHeading %></h2>
    <div class="overview subsection">
       <p><%= locals.overview %></p>
    </div>
  </div>
</section>
<hr />
<section>
  <div>
    <h2><%= locals.lists?.introductoryPhrase %></h2>
   </div>    
   <div class="subsection 4skills">
   <% locals.lists?.items.forEach(listItem => { %>
     <ul>
       <li><%= listItem %></li>
     </ul>
	<% }); %>
    </div>
  <div>
    <a href="/about" appearance="button" >More</a>
  </div>
</section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
