<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

    <section project-id="<%= locals.id %>" >

    <h1><%= locals.title  %></h1>
    <p><%= locals.description %></p>
    <img src="<%= locals.imageUrl %>" alt="image of project named <%= locals.title %>"  />
    <section>
        <h2>Origin</h2>
        <div class="projects">
		<div><%= locals.summary %></div> 
                <a href="<%= locals.codeLink %>" >Code</a>                                                                       </div>
	</div>
    </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

