-<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

    <section "project-id"="<%= locals.project?.id %>" >

    <h1><%= locals.project?.title  %></h1>
    <p><%= locals.project?.description %></p>
    <img src="<%= locals.project?.imageUrl %>" alt="image of project named <%= locals.project?.title %>"  />
    <section>
        <h2>Origin</h2>
        <div class="projects">
		<div><%= locals.project?.summary %></div> 
                <a href="<%= locals.project?.codeLink %>" >Code</a>                                                                       </div>
	</div>
    </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

