<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/product-item.css" />

</head>
<body >

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <section class="project-view padded"  "projectid"="<%= locals.project?.id %>" >
    <div class="intro">
        <h1><%= locals.project?.title %></h1>
        <img src="<%= locals.project?.imageUrl %>" alt="image of <%= locals.project?.title %>" />
    </div>
    <hr />
    <div class="info">
      <div class="project-summary">
        <h2>Summary</h2>
        <div><%= locals.project?.summary %></div>
      </div>
      <hr />
      <div class="project-description">
        <h2>Description</h2>
        <div class="description">
          <p><%= locals.project?.description %></p>
      </div>
      </div>     
      <div class="project-contributors">
        <h2>Contributors</h2>
          <% locals.project?.contributors?.forEach(contributor => { %>
            <div class="contributor-item text-center">
               <img class="contributor-image" src="<%= contributor.imageLink %>" alt="photo of <%= contributor.name %>"
               <p class="contributor-name"><%= contributor.name %></p>
               <p class="contributor-details"><%= contributor.details %></p>
               <a class="contributor-profile-link" href="<%= contributor.profileLink %>" >View</a>
            </div>
          <% }); %>
     </div>
   </div>
   <div class="controls">
      <a class="btn btn-info" href="<%= locals.project?.codeLink %>" >Code</a>
      <form method="delete" action="/projects/<%= locals.project?.id %>" ><button type="submit">Delete</button></form>
 </div>
    </section>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

