<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
   <section>
    <h1 class="primary-text"><%= locals.firstHeading %></h1>
    <div class="description">
      <p>As a javascript developer, I work on some interesting projects. There is an overview of the most relevant.</p>
    </div>
   </section>   
   <hr />
   <section>
	<h2 class="primary-text">Web apps</h2>
	<div class="projects">
		<%  locals.webApps?.forEach(webApp => {%>
		<div class="subsection" key="<%= webApp.id %>" class="project">
		<h3><%= webApp.title %></h3>
		<p><%= webApp.description %></p>
		<a href="/projects/<%= webApp.id %>"  appearance="button">View</a>
		<% if (webApp.codeLink) { %>
			<a href="<%= webApp.codeLink %>" >Code</a>
		 <% }%>
		</div>
		<% }); %>
	</div>

    </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
